.Login {
    text-align: center;
    justify-content: center;
    color:rgb(42, 141, 63);
    display: flex;
    justify-content: space-around;
  }

.Playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}